@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #d7dcdd, #9fa5a8);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

// .shape {
//   position: absolute;
//   border-radius: 50%;
//   opacity: 0.8;
// }

// .shape-1 {
//   background: linear-gradient(45deg, #ff00ff, #ff69b4);
//   width: 400px;
//   height: 400px;
//   top: -100px;
//   left: -100px;
// }

// .shape-2 {
//   background: linear-gradient(45deg, #00ffff, #1e90ff);
//   width: 300px;
//   height: 300px;
//   bottom: 50px;
//   right: -50px;
// }

// .shape-3 {
//   background: linear-gradient(45deg, #ff4500, #ffa500);
//   width: 250px;
//   height: 250px;
//   top: 30%;
//   left: 60%;
// }

.glass-container {
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px;
  margin: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  width: 90%; // Adjust this value to change the width
  // max-width: 1200px; // Set a maximum width if desired
  height: 80vh; // Adjust this value to change the height
  margin: 5vh auto; // Centers the container vertically and horizontally
}

// Add any additional styles for your components here

.spotlight {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  filter: blur(150px);
  opacity: 0.15;
  z-index: 1;
}

.spotlight-left {
  background: radial-gradient(
    circle,
    rgba(255, 0, 128, 0.3) 0%,
    rgba(255, 0, 128, 0) 70%
  );
  top: -100px;
  left: -100px;
}

.spotlight-right {
  background: radial-gradient(
    circle,
    rgba(0, 128, 255, 0.3) 0%,
    rgba(0, 128, 255, 0) 70%
  );
  bottom: -100px;
  right: -100px;
}
